{% extends "posts/base.html" %}

<head>
    <title>{% block head_title %} {{ instance.title }} | {{ block.super }} {% endblock head_title %}</title>
</head>

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if obj.image %}
            <img src="{{ instance.image.url }}" class="img-responsive" />
        {% endif %}
        <h1>{{instance.title}} <small>{{ instance.timestamp }}</small></h1>

        {{ instance.content|linebreaks }}<br/>
        {{ instance.updated }}<br/>

    </div>

{% endblock content %}